@{
    ViewBag.Title = "About MedManager";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>MedManager is a web-based project designed to streamline the management of medicines. It allows users to add, update, and organize medicine information, process orders, and track inventory efficiently. Built with ASP.NET MVC and C#, the system integrates a database for storing medicine data and offers functionalities like adding medicines to a cart, placing orders, and managing user details. The project is focused on enhancing medicine ordering and management processes through a simple and effective interface.</p>
</main>